/*formattazione*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:aliceblue;
}

h2{
    display: inline-block;
}

/*colori*/
.sky{
    background-color: skyblue;
    color: white;
}

.trasparente{
    border: 1px solid gray;
    color: gray;
}
.purple{
    background-color: purple;
}

.green{
    background-color: green;
}

.pink{
    background-color: pink;
}

.grass{
    background-color: greenyellow;
}
/*header*/
header{
    background-color: white;
    padding: 1% 0 1% 1%;
}

#logo{
    vertical-align: -130%;
    height: 65px;
}

h1{
    display: inline-block;
}

li{
    margin-left: 1em;
}
/*main*/

nav{
    background-color: lightyellow;
    margin-top: 5%;
    width: 80%;
    margin: 0 auto;
    padding: 3% 3% 2% 3%;
    border-radius: 5px 5px 0 0;
}

/*bottoni nav*/
.bottoni{
    margin-left: 2%;
    padding: 1%;
    border-radius: 5px;
}

nav a{
    text-decoration: none;
}
#white{
    color: white;
}

#gray{
    color: gray;
}


/*main*/

main{
    padding-top: 6%;
}

/*container*/
.container{
    background-color: lightgreen;
    width: 80%;
    margin: 1% auto; 
    padding: 2% 0 2% 3%;
    border-radius: 0 0 5px 5px;
}

.arrow{
    font-size:small;
}

.block-list{
    margin: 2%;
}

.status{
    margin-left: 2%;
    padding: 1%;
    border-radius: 12px;
}

/*list*/
li{
    margin: 3%;
}